<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    <div class="clock">
      <canvas  class="hours" id="hours" width="500" height="500" ></canvas>
      <canvas  class="minutes"  id="minutes" width="500" height="500" ></canvas>
      <p>The angle between the hands is {{result}}&deg;</p>
        <a href='/'><button type='button'>HOME</button></a>
    </div>


    <script>
      var c = document.getElementById("hours");
      var ctx = c.getContext("2d");
      ctx.moveTo(250,250);
      ctx.lineTo(250,080);
      ctx.stroke();
      var c = document.getElementById("minutes");
      var ctx = c.getContext("2d");
      ctx.moveTo(250,250);
      ctx.lineTo(250,00);
      ctx.stroke();
    </script>
    <style media="screen">

    canvas.hours{

      -webkit-transform: rotate({{newClock.hoursDegrees}}deg);
      transform: rotate({{newClock.hoursDegrees}}deg);}

    canvas.minutes{

      -webkit-transform: rotate({{newClock.minutesDegrees}}deg);
      transform: rotate({{newClock.minutesDegrees}}deg);}


    </style>

  </body>
</html>
