<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    <div class="clock">
      <canvas  class="hours" id="hours" width="500" height="500" ></canvas>
      <canvas  class="minutes"  id="minutes" width="500" height="500" ></canvas>
      <canvas  class="seconds"  id="seconds" width="500" height="500" ></canvas>
      <p>The angle between the hands is {{result}}&deg;</p>
      <a href='/'><button class="home-button" type='button'>HOME</button></a>
    </div>

    <style media="screen">

    canvas.hours{

      -webkit-transform: rotate({{newClock.hoursDegrees}}deg);
      transform: rotate({{newClock.hoursDegrees}}deg);}

    canvas.minutes{

      -webkit-transform: rotate({{newClock.minutesDegrees}}deg);
      transform: rotate({{newClock.minutesDegrees}}deg);}

    </style>
  </body>
</html>
